body{
	background-color: #ddd;
	font-family: 'Raleway', sans-serif;
}
header{
	background-color: #fff;
	border: solid 1px #aaaaaa;
	padding: 1em;
	max-width: 90%;
	margin: 1em auto;
}
header h1{
	font-weight: bolder;
}

#container{
	background-color: #fff;
	border: solid 1px #aaa;
	display: table;
	width: 92.5%;
	margin: 1em auto;
}
.nota{
	margin: 1em;
	padding: 1em;
	min-width: 200px;
	min-height: 100px;
	float: left;
}

.divBtn{
	padding: 10px;
	width: 1em;
	float: right;
	text-align: center;
}
.divBtn:hover{
	background-color: #000;
	color: #fff;
}
.none{
	display: none;
}

.fade{
	opacity: 0;
	transition: 1s;
}

#btnConfirmar{

}