.nota{
	margin: 1em;
	padding: 1em;
	max-width: 200px;
	min-height: 200px;
	border-radius: 0 0 5px 5px;
}

.divBtn{
	padding: 0.5em;
	width: 1em;
	float: right;
	text-align: center;
}
.none{
	display: none;
}

.fade{
	opacity: 0;
	transition: 1s;
}

#btnConfirmar{

}